body {
  background-color: #1c1c1c;
}

.container {
  background-color: #ecfdf5;
  height: 550px;
  margin: 64px auto;
  max-width: 550px;
}

h1 {
  color: #2b283a;
  font-family: "Karla", sans-serif;
  padding: 115px 144px 10px 52px;
  margin-bottom: 0;
}

span {
  color: #10b981;
}

p {
  color: #6b7280;
  font-size: 20px;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  margin: 0 0 0 52px;
}

button {
  background-color: #10b981;
  border: none;
  border-radius: 6px;
  box-shadow: 0 1px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 16px;
  height: 42px;
  line-height: 24px;
  margin: 60px 0 0 52px;
  padding: 9px, 17px, 9px, 15px;
  width: 190px;
}

button:hover {
  cursor: pointer;
}

hr {
  margin: 35px 52px 0 52px;
}

input {
  background-color: #273549;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  height: 39px;
  margin: 35px 0 0 25px;
  text-align: center;
  width: 206px;
  color: #5def92;
}

input:last-child {
  margin-left: 24px;
}

.input-container {
  display: flex;
}

.pw-1,
.pw-2 {
  position: relative;
}

.pw-1 i,
.pw-2 i {
  position: absolute;
  top: 50px;
  right: 10px;
  color: #41597a;
}

@media (max-width: 568px) {
  .container {
    margin: 0;
    text-align: center;
  }

  h1 {
    padding: 75px 0 20px 0;
  }

  p {
    margin-left: 0;
  }

  button {
    margin-left: 0;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  hr {
    display: none;
  }

  input {
    margin-left: 0;
  }

  input:last-child {
    margin: 10px 0 0 0;
  }
}
